{{ define "main" }}
<div class="overflow-hidden">
    <div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <!-- header grid -->
      <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
        <div>
          <h2 class="mt-2 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl">{{ .Title }}</h2>
        </div>
      </div>
      <!-- text and image grid -->
      <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
        <div class="relative lg:row-start-1 lg:col-start-2">
          <div class="relative mx-auto text-base max-w-prose lg:max-w-none">
            <figure>
              <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
                <img class="object-cover object-center rounded-lg shadow-lg" src="https://source.unsplash.com/D6cgenSS5NY/600x800" alt="" width="600" height="800">
              </div>
              <figcaption class="flex mt-3 text-sm text-gray-500">
                <!-- Heroicon name: solid/camera -->
                <svg class="flex-none w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                </svg>
                <span class="ml-2">Photograph by Darius Bashar</span>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="mt-8 lg:mt-0">
          <div class="mx-auto mt-5 prose text-gray-500 prose-indigo lg:max-w-none lg:row-start-1 lg:col-start-1">
            {{ .Content }}
        </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}