{{ define "main" }}
  <article class="px-4 py-16 prose sm:px-6 lg:px-8 lg:prose-xl">
    <!-- <h1 class="mt-10 text-4xl">
      {{ .Title }}
    </h1> -->

    <!-- header -->
    <header class="mx-auto text-lg max-w-prose">
      <h1>
        <!-- <span class="block text-base font-semibold tracking-wide text-center text-indigo-600 uppercase">Introducing</span> -->
        <span class="block mt-2 text-3xl font-extrabold leading-8 tracking-tight text-center text-gray-900 sm:text-4xl">{{ .Title }}</span>
      </h1>
      <p class="mt-8 text-xl leading-8 text-gray-500">{{ .Description }}</p>
    </header>

    <!-- image -->
    <figure>
      <img class="w-full rounded-lg" src="{{ .Params.image }}" alt="" width="1310" height="873">
      <figcaption>Random image from Unsplash.</figcaption>
    </figure>


    <div class="">
      {{ .Content }}
    </div>
  </article>
{{ end }}