.debug {
    height: 100px;
    width: 100px;
    background-color: bisque;
}


/*
=========================
Layout
=========================
*/

body {
    display: flex;
    min-height: 100vh; /* to push footer down, from Solved by Flexbox */
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1; /* ensure the main content section stretches full width and footer stays at the bottom */
    margin: 0 auto;
    width: 80%;
    background-color: chartreuse;
}

nav {
    display: flex;
    background-color: hsl(231, 52%, 88%);
    justify-content: space-between;
    align-items: baseline;
}

section {
    display: flex;
    justify-content: space-evenly;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rebeccapurple;
    text-align: center;
}


/*
=========================
Header and Navigation
=========================
*/

.logo {
    justify-content: start;
    margin-left: 40px;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    justify-content: end;
}

nav ul li {
    padding: 10px 20px;
    background-color: antiquewhite;
    display: block;
}

nav ul li:hover{
    background-color: aqua;
}


/*
=========================
Hero
=========================
*/

.hero {
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(230, 50%, 80%);
    padding: 20px;
    width: 100%;
    height: auto;
}

.hero-image {
    display: flex;
    width: 40%;
    align-items: center;
}

.hero-text {
    width: 60%;
}

.hero img {
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 50%;
    box-shadow: 0 3px 50px hsl(0, 0%, 20%);
    margin: 0 2rem;
    width: 100%;
}


/*
=========================
Cards
=========================
*/

.cards {
    display: flex;
}

.card {

}


/*
=========================
Footer
=========================
*/

footer {
    background-color: cadetblue;
}


/*
=========================
Typography
=========================
*/

.section-title {
    display: inline-block;
    font-weight: 600;
}

h1, h2 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
