.debug {
    height: 100px;
    width: 100px;
    background-color: bisque;
}


/*
Layout
*/

body {
    display: flex;
    min-height: 100vh; /* to push footer down, from Solved by Flexbox */
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1; /* ensure the main content section stretches full width and footer stays at the bottom */
    margin: 0 auto;
    width: 80%;
    background-color: chartreuse;
}

nav {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    justify-content: start;
    margin-left: 40px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    background-color: cornflowerblue;
    padding: 20px;
    width: 100%;
    height: auto;
}

.hero-image {
    width: 40%;
    margin-left: 2rem;
}

.hero-text {
    width: 60%;
}

section {
    display: flex;
    justify-content: space-evenly;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rebeccapurple;
    text-align: center;
}

/*
Navigation
*/

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    justify-content: end;
}

nav ul li {
    padding: 10px 20px;
    background-color: antiquewhite;
    display: block;
}

nav ul li:hover{
    background-color: aqua;
}

/*
Hero
*/

.hero img {
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 50%;
    box-shadow: 0 3px 50px hsl(0, 0%, 20%);
}

/*
Footer
*/

footer {
    background-color: cadetblue;
}

/*
Typography
*/

.section-title {
    display: inline-block;
    font-weight: 600;
}
