<!-- Simple footer with links -->
<footer class="bg-gray-800">
  <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="/" class="text-base text-gray-300 hover:text-white"> Home </a>
      </div>

      <div class="px-5 py-2">
        <a href="/blog/" class="text-base text-gray-300 hover:text-white">
          Blog
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="/book/" class="text-base text-gray-300 hover:text-white">
          Books
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="/about/" class="text-base text-gray-300 hover:text-white">
          About
        </a>
      </div>
    </nav>

    <!-- Copyright section -->

    <p class="mt-8 text-base text-center text-gray-400">
      &copy; 2021 Gritty Publishing. All rights reserved.
    </p>
  </div>
</footer>
